* {
    margin: 0%;
    padding: 0%;
}

div.main-section.row {
    margin-right: 0px;
    margin-left: 0px;
}

span {
    color: #c3cbcd;
    padding: 4px;
}

input[type=text] {
    height: fit-content;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

input[type="text"]:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

datalist {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.main-section {
    /* background-color: #f2fbff; */
    padding: 15px;
    padding-bottom: 0%;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    float: left;
}

.input-section {
    float: right;
}